<div>
  <center>
    <h1>Sources</h1>
    <p><a href="https://en.wikipedia.org/wiki/Main_Page" class="signup-link">wikipedia.org</a></p>
    <p><a href="https://delishably.com/fruits/list-of-different-kinds-of-fruits" class="signup-link">delishably.com</a></p>
  </center>
</div>
