<div>
  <h1>Fruits index</h1>

  <% @fruits.each do |fruit| %>
  <ul>
    <li>
      <%= link_to "#{fruit.name} - #{fruit.sci_name}", fruit_path(fruit) %>
    </li>
  </ul>
  <% end %>
</div>

<%= form_tag(search_fruits_path, method: :get) do %>
  <%= text_field_tag 'query', params[:query], placeholder: 'Enter search term...' %>
  <%= submit_tag 'Search', class: 'alert button expand' %>
<% end %>
