<div>
  <center>
    <img class="fruit-image" src="https://i.imgur.com/VdIzOfb.jpg">
    <h1>Credits</h1>
    <p>
      <a href="https://github.com/7KAG7" class="signup-link">Keith Guernsey</a> |
      <a href="https://github.com/k-charette" class="signup-link">Ken Charette</a> |
      <a href="https://github.com/michaelwalters2000" class="signup-link">Michael Alexander</a> |
      <a href="https://github.com/kebertj8" class="signup-link">Kebert Joseph</a> |
      <a href="https://github.com/samsdotexe" class="signup-link">Sam Sullivan</a> 
    </p>
  </center>
</div>
