<div>
  <center>
    <h1>Credits</h1>
    <p><a href="https://github.com/7KAG7" class="signup-link">Keith Guernsey</a></p>
    <p><a href="https://github.com/k-charette" class="signup-link">Ken Charette</a></p>
    <p><a href="https://github.com/michaelwalters2000" class="signup-link">Michael Alexander</a></p>
    <p><a href="https://github.com/kebertj8" class="signup-link">Kebert Joseph</a></p>
    <p><a href="https://github.com/samsdotexe" class="signup-link">Sam Sullivan</a></p>
  </center>
</div>
