nav {
  font-family: "optima";
}

body {
  background-color: #D9F3FC;
  display: block;
}

.header-title {
  width: 50%;
  float: left;
  margin: auto;
}

.header-title-text {
  color: black;
  text-decoration: none;
  font-family: "bradley hand";
}

.top-bar-section {
  width: 50%;
  float: left;
  text-align: right;
}

.signup-link {
  color: black;
  text-decoration: none;
}

.header-title-text:hover {
  color: green;
}

.signup-link:hover {
  color: green;
}

.fruit-tile-text:hover {
  color: green;
}

#title {
  text-align: center;
  font-family: "optima";
}

.fruit-tile {
  text-align: center;
}

.fruit-tile-text {
  font-family: "optima";
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.field-su {
  text-align: center;
}

.field-bttn {
  text-align: center;
}

input{
  width: 30%;
  height: 30px;
}

.grid-x {
  display: inline-grid;
  padding: 10px;
  margin: auto;
}

.fruit-image{
  display: block;
  width: 700px;
  height: 500px;
  margin: auto;
  /* border: 1px solid #000; */
  /* padding: 5px; */
}

.fruit-tile-image {
  width: 262px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s;
  backface-visibility: hidden;
  /* border: 1px solid #000; */
}

.image-container:hover {
  opacity: 0.4;
}

.new-review-form {
  
}
