nav {
  font-family: sans-serif;
}

body {
  background-color: #ccff99;
}

#title {
  font-family: sans-serif;
  text-align: center;
}
.fruit-tile {
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}

.fruit-image {
  display: block;
  width: 150px;
  margin: auto;
  border: 1px solid #000;
}
